*.log
*.AppleDouble*
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
develop-eggs
downloads
eggs
fake-eggs
parts
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
*.mat
*octave-workspace
prophnet/test/octave-workspace
prophnet/config/prophnet-local.cfg
octave_workspace
cover/
.coverage
